@charset "UTF-8";

/* Importando Fonte Personalizada no Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Economica);

body{
    background-color: #ffffff;
}

section#interface{
    width: 900px;
    background-color: rgba(27, 28, 255, 0.22);
    margin: 10% auto auto auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
    padding: 10px;
}

section#interface h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    pading: auto; /* valor 0 */
    margin-bottom: auto; /* valor 0 */
    margin-top: auto; /* valor 0 */
}

section#interface h2{
    font-family: 'Economica', sans-serif;
    font-size: 30px;
    color: #f9f9f9;
    text-shadow: 1px 1px 1px rgba(0,0,0,5);
    pading: 0px;
    margin-top: 0px;
}

fieldset{
    background-color: rgba(227, 229, 255, 0.9);
    width: 500px;
    border:2px solid #999;
    padding: 25px;
    margin: auto;
    border-radius:20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
}

fieldset h3{
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: auto auto 0px 150px;
}

fieldset input{
    background-color: #ffffff;
    border-radius: 5px;
    margin: auto auto 10px 150px;
}

div#button{
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: auto auto auto 200px;
}

div#button input{
    background-color: #ffffff;
    border-radius: 5px;
}