@charset "UTF-8";

section#conteudo{
    width: 1000px;
    margin: auto;
}

iframe#frame-info{
    width: 555px;
    height: 314px;
    margin-left: 15px;
    border: none;
    overflow-x: hidden;
    overflow-Y: hidden;
}

iframe#frame-info::-webkit-scrollbar{
    display: none;
}

